export SUDO_EDITOR=nano
# Do not store duplicates, ls and exit
export HISTIGNORE="ls:exit"
export HISTCONTROL="ignorespace:erasedups"

# Write eternal command history
export HISTTIMEFORMAT="%Y%m%d %T "
PROMPT_COMMAND="${PROMPT_COMMAND:+$PROMPT_COMMAND ; }"'echo $$ $USER \
               "$(history 1)" >> ~/.bash_eternal_history'

if [ -f /usr/bin/verse ]; then
    echo ""
    /usr/bin/verse
    echo ""
fi
uname -srm
w -s
echo -e "\nDisk usage       Size  Used Avail Use% Mount"
df -h | grep {{ base_main_disk }} # disk space
